extends layout

block content
  h1= title
  p Welcome to #{title}

  p
    a(title='Parser', href='/parser') Sandro
    
    p
    a(title='Parser', href='/globe') Globe
    
    p
    a(title='Parser', href='/skechers') Skechers